{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <h5>You are about to create a new product:</h5>
            <hr>
            <form action="" method="POST" autocomplete='on'>
                {% csrf_token %}
                {{ form }}
                <br>
                <input class="btn btn-primary" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}